.like{
  color: #1890ff;
}
.star{
  margin-right:8px;
}
.title{
  color:#444;
}
.time{
  font-size:12px;
  color:#aaa;
}
.content{
  padding-top:1rem;
}
.action{
  display: flex;
  flex-direction: row;
  color:#aaa;
}
.likeButton{
  margin: 0 8px;
}
.commentButton{
  margin: 0 8px;
}
